<form method="POST" action="/getFrequencies">
  <div class="form-group">
    <div class="row">
      <div class="col-7 input-group-lg">
          <input type="text" class="form-control" placeholder="Enter N..." name="inputN">
      </div>
      <div class="col-5">
          <button type="submit" class="btn btn-primary btn-lg">Create Document!</button>
      </div>
    </div>
  </div>
</form>




