<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>TTT</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/style.css" rel="stylesheet">
  </head>
  <body>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Terribly Tiny Tales</h1>
        </div>
      </section>
      <div class="py-5 bg-light">
        <div class="container container-fluid">
          <form method="POST" action="/getFrequencies">
            <div class="form-group">
              <div class="row">
                <div class="col-9 input-group-lg">
                    <input type="text" class="form-control inputN" placeholder="Enter N..." name="inputN">
                    
                    <span id="inputN_err" class="errMsgSpan float-left" style="display: none;">*Enter integer val</span>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary btn-lg submitBtn" disabled="disabled">Hit Me!</button>
                </div>
              </div>
            </div>
          </form>
          <br>
          <br>
          {{{body}}}
        </div>
      </div>      
    </main>

    <footer class="text-muted">
      <div class="container container-fluid text-center">
        <p>Made with &#x2764; by stillNovice</p>
      </div>
    </footer>

    <script 
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/main.js"></script>
    
    <script>
      $(document).ready(function () {
        $('.inputN').on('input change', function () {
          if ($(this).val() != '') {
            $('.submitBtn').prop('disabled', false);
          }
          else {
            $('.submitBtn').prop('disabled', true);
          }
          $('#inputN_err').removeClass('errBox');
          $('#inputN_err').hide();
        });

        $('.submitBtn').on('click', function(event) {
          $(".myFreqData").html("");
          let val = $('.inputN').val();
          if(!isNaN(val) && parseInt(Number(val)) == val && !isNaN(parseInt(val, 10))) {
            return true;
          } else {
            $('#inputN_err').show();
            return false;
          }
          event.preventDefault();
          event.stopPropagation();
        });

        $('.inputN').focus(function() {
          $('#inputN_err').removeClass('errBox');
          $('#inputN_err').hide();
        })
      });
    </script>
  </body>
</html>